@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





@layer base {
  @font-face {
    font-family: "Poppine-reg";
    src: url("/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Anta";
    src: url("/fonts/Anta-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
}

@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 2px white; /* stroke width + color */
    color: transparent; /* make fill transparent if you want only stroke */
  }

  .text-stroke-white-fill {
    -webkit-text-stroke: 1px black; /* stroke around white text */
    color: white;
  }
  .text-stroke-red {
    -webkit-text-stroke: 1px #9B3E3E; /* text border */
    color: #FFFFFF; /* text color */
  }
  .text-stroke-green {
    -webkit-text-stroke: 1px #54784D; /* text border */
    color: #FFFFFF; /* text color */
  }
}

@theme {
  --font-poppin-reg: "Poppine-reg", sans-serif;
  --font-anta: "Anta", sans-serif;
}

.h1-poppin {
  @apply text-xl;
  font-family: var(--font-poppin-reg);
}

.h1-anta {
  font-family: var(--font-anta);
}



.header-layout{
  @apply grid grid-cols-16 gap-4 justify-center
}
.shadow-custom {
  @apply bg-white/25 dark:bg-white/5  rounded-full   p-3 flex items-center justify-center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.45s ease-out both;
}
